.animated-btn {
  width: 400px;
  height: 400px;
  position: absolute;
  transform: translate(1rem, 5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.animated-btn .center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.animated-btn .btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  transition: 1s ease-in-out;
  color: #fff;
  font-weight: bold;
}

.animated-btn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #000080;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.animated-btn .btn:hover {
  transition: 1s ease-in-out;
  background: #fff;
  color: #000080;
}

.animated-btn .btn:hover svg {
  stroke-dashoffset: -480;
}
